<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask paralympics app</title>
</head>
<body>

<h1>Flask paralympics app</h1>
<h2>Data table</h2>
<!-- HTML table reference: https://www.w3schools.com/html/html_tables.asp -->
<table>
    <thead>
    <tr>
        <!-- Use Jinja to iterate through the JSON to get the column headers -->
        {% for key in data[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <!-- Use Jinja to iterate through the JSON to get the row values -->
    {% for row in data %}
    <tr>
        {% for value in row.values() %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Line chart</h2>
<!-- Pass the plotly chart data to Jinja -->
{{ plot_html|safe }}

</body>
</html>